Repository cse110-fa22-group13/cse110-fa22-group13, pull requests merged in 2022-10, with the labels that each got.

#9 Resolves #7
  specs/system diagrams/inheritance.drawio
Labels: System Diagram

#17 Finish activity diagram, finalize hierarchy diagram
  specs/system diagrams/inheritance.drawio
  specs/system diagrams/uml_activity_diagram.drawio
Labels: System Diagram

#18 Added roadmap image
  specs/roadmap.md
  specs/roadmap.pdf
Labels: documentation, Roadmap

#20 Created ADRs and ADR template
  specs/adrs/ADR adoption process.png
  specs/adrs/adr-template.md
  specs/adrs/codeConventionADR.md
  specs/adrs/featuresADR.md
  specs/adrs/placeholder.txt
  specs/adrs/toolsADR.md
Labels: documentation, ADRs
